<div class="crm-calendar">
				
					<!-- CALENDAR manu -->
				
					<div class="navbar">
					  <div class="navbar-inner">
						<div class="container">						  
						  <div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
							  <li><a href="#">Day</a></li>
							  <li class="divider-vertical"></li>
							  <li><a href="#">Week</a></li>
							  <li class="divider-vertical"></li>
							  <li><a href="#">Month</a></li>
							  <li class="divider-vertical"></li>
						  </ul>
							<form class="navbar-search pull-left">
								<input type="text" class="search-query" placeholder="Search">
							</form>
							<ul class="nav pull-right">
							  <li><a href="#">New Event</a></li>
							  <li class="divider-vertical"></li>
							  <li><a href="#">New Task</a></li>
							  <li class="divider-vertical"></li>
							  <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><a href="#">Work time</a></li>
								  <li><a href="#">Holidays</a></li>
								  <li><a href="#">Display Options</a></li>
								  <li class="divider"></li>
								  <li><a href="#">Advanced Options</a></li>
								</ul>
							  </li>
							</ul>
						  </div><!-- /.nav-collapse -->
						</div>
					  </div><!-- /navbar-inner -->
					</div>
					
					<!-- CALENDAR content -->					
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span2 crm-calendar-sidebar">
							<!--Sidebar content-->
							<div class="crm-side-calendar">
								<table cellspacing="0" cellpadding="0" class="crm-side-table">
									<tbody>
										<tr>
											<td colspan="5">
												<span>&nbsp;</span>
												<b>November 2012</b>
											</td>
											<td colspan="2">
												<span><</span>
												<span>></span>
											</td>
										</tr>
									</tbody>
								</table>
								<table cellspacing="0" cellpadding="0" class="crm-side-table">
									<colgroup span="7"></colgroup>
									<tbody>
										<tr>
											<th title="Sunday">S</th>
												<th title="Monday">M</th>
												<th title="Tuesday">T</th>
												<th title="Wednesday">W</th>
												<th title="Thursday">T</th>
												<th title="Friday">F</th>
												<th title="Saturday">S</th>
											</tr>
											<tr style="cursor:pointer">
												<td>28</td>
												<td>29</td>
												<td>30</td>
												<td>31</td>
												<td>1</td>
												<td>2</td>
												<td>3</td>
											</tr>
											<tr style="cursor:pointer" id="dp_0_row_1">
												<td>4</td>
												<td>5</td>
												<td>6</td>
												<td>7</td>
												<td>8</td>
												<td>9</td>
												<td>10</td>
											</tr>
											<tr style="cursor:pointer">
												<td>11</td>
												<td>12</td>
												<td>13</td>
												<td>14</td>
												<td>15</td>
												<td>16</td>
												<td>17</td>
											</tr>
											<tr style="cursor:pointer">
												<td>18</td>
												<td>19</td>
												<td>20</td>
												<td>21</td>
												<td>22</td>
												<td>23</td>
												<td>24</td>
											</tr>
											<tr style="cursor:pointer">
												<td>25</td>
												<td>26</td>
												<td>27</td>
												<td>28</td>
												<td>29</td>
												<td>30</td>
												<td>1</td>
											</tr>
											<tr style="cursor:pointer">
												<td>2</td>
												<td>3</td>
												<td>4</td>
												<td>5</td>
												<td>6</td>
												<td>7</td>
												<td>8</td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<!-- CALENDARS to choose -->
								<ul class="nav nav-list crm-calendar-list">
									<li class="nav-header">Calendars</li>
									<li><a href="#">
										<label class="checkbox">
											<input type="checkbox" value="all">All
										</label></a>
									</li>
									<li class="nested">
										<a href="#">
										<label class="checkbox">
											<input type="checkbox" value="my" checked="checked">My
										</label>
										</a></li>
									<li class="nested"><a href="#">
										<label class="checkbox">
											<input type="checkbox" value="dima">Dima
										</label>
									</a></li>
									<li class="nested"><a href="#">
										<label class="checkbox">
											<input type="checkbox" value="ostap">Ostap
										</label>
									</a></li>
								</ul>
							</div>
							<div class="span10">
							<!--Body content-->
							<table cellpadding="0" cellspacing="0" class = "calendar-header">
								<tbody>
									<tr>
										<td class="cal-tz" rowspan="3">GMT+02</td>
										<th title="Sun 11/25">Sun 11/25</th>
										<th title="Mon 11/26">Mon 11/26</th>
										<th title="Tue 11/27">Tue 11/27</th>
										<th title="Wed 11/28">Wed 11/28</th>
										<th title="Thu 11/29">Thu 11/29</th>
										<th title="Fri 11/30">Fri 11/30</th>
										<th title="Sat 12/1">Sat 12/1</th>
									</tr>
									<tr class="all-day">
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr class="separator">
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">12pm</td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">1pm</td>
										<td></td>
										<td>
										<div class="cal-event-cont">
											<div class="cal-event">
											1:00-2:00 Meeting
											</div>
										</div>
										</td>
										<td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">2pm</td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td>
										<td>
										<div class="cal-event-cont">
											<div class="cal-event">
											2:30-3:00 Brainstorming
											</div>
										</div>
										</td>
										<td></td><td></td><td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">3pm</td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">4pm</td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">5pm</td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">6pm</td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">7pm</td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row">
										<td class="cal-hours">8pm</td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>
									<tr class="cal-row cal-row-odd">
										<td class="cal-hours"></td>
										<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
									</tr>	
								</tbody>
							</table>
							</div>
						</div>
					</div>					
				</div>