<td>
	<input title="Select this row" class="checkbox-list" type="checkbox">
</td>
<td>
	<a id="edit" href="#editDeal" title="edit" class="btn btn-mini" data-toggle="modal"><i class="icon-edit"></i></a>
</td>
<td>
	<%- title %>
</td>

<td>
	<%- contact %>
</td>

<td>
	<%- client %>
</td>

<td>
	<%- type %>
</td>

<td>
	<%- description %>
</td>

<td>
	<%- status %>
</td>

<!-- 
<select id="dealType" name="dealType">
		<option value="new deal">new deal</option>
		<option value="in progress">in progress</option>
		<option value="done">done</option>
		<option value="paid">paid</option>
	</select>
 -->
