<div class="container-fluid">
	<div class="row-fluid">
	
	<!-- Side Bar -->
	<div class="span2" id="deal-sidebar">		
		<!-- Filter -->
		<div class="well">
		  <div class="crm-sidebar-header">Filter</div>
		</div>	
	</div>

	<div class="span10">
	
	<div class="navbar">
	  <div class="navbar-inner">
		<div class="container">						  
		  <div class="nav-collapse collapse navbar-responsive-collapse">
			<ul class="nav">
			  <li>
				<a href="#">
					<label class="checkbox">
						<input id="all_checkbox" type="checkbox" value="">
						All										
					</label>	
				</a>									
			  </li>
			  <li class="divider-vertical"></li>
			  <li><a id="delete-item">Delete</a></li>
			  <li class="divider-vertical"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignee <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Dima</a></li>
							<li><a href="#">Ostap</a></li>
							<li><a href="#">Pavlo</a></li>
						</ul>
					</li>
		  </ul>
			<form class="navbar-search pull-left">
				<input type="text" class="search-query" placeholder="Search">
			</form>
			<ul class="nav pull-right">
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a href="#">Display Options</a></li>
				  <li class="divider"></li>
				  <li><a href="#">Advanced Options</a></li>
				</ul>
			  </li>
			</ul>
		  </div><!-- /.nav-collapse -->
		</div>
	  </div><!-- /navbar-inner -->
	</div>
			<table class="crm-docs-table table table-striped" cellspacing="0" cellpadding="0" id="crm-deals">							
				<thead>
					<tr class="crm-header">
						<th>
							
						</th>
						<th>
							
						</th>
						<th>
							Title
						</th>
						<th>
							Main contact
						</th>
						<th>
							Company name
						</th>
						<th>
							Deal type
						</th>
						<th>
							Description
						</th>
						<th>
							Status
						</th>
					</tr>
				</thead>
				<tbody id="crm-deals-container"></tbody>						
			</table>
		</div>
	</div>
		<form id="advancedDeal" class="modal advanced-deal-modal hide fade form-horizontal" tab-index="-1" role="dialog" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="myModalLabel">Add a new Deal</h3>
			</div>
			<div class="modal-body">
			  <div class="row">
					<div class="span9">
						<div class="control-group">
							<label class="control-label">Title</label>
							<div class="controls">
								<input id="dealTitle" type="text" class="span3">
								<span class="inline-help">
									<span class="text-error hidden">Title field cannot be empty.</span>
								</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Company</label>
							<div class="controls">
								<input id="dealClient" type="text" class="span3">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Contacts</label>
							<div class="controls">
								<input id="dealContacts" type="text" class="span3">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Status</label>
							<div class="controls">
								<select id="dealStatus" class="span3">
									<option value="new deal" selected="">new deal</option>
									<option value="in progress">in progress</option>
									<option value="done">done</option>
									<option value="paid">paid</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Deal type</label>
							<div class="controls">
								<select id="dealType" class="span3">
									<option value="simple" selected="">simple</option>
									<option value="court">court</option>
									<option value="registration">registration</option>
									<option value="performance">performance</option>
									<option value="consultation">consultation</option>
									<option value="license">license</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Description</label>
							<div class="controls">
								<textarea id="dealDescription" class="input-xlarge span5" rows="10"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button id="save-new-deal" class="btn btn-primary pull-right">Save</button>
			</div>
		</form>
		<form id="editDeal" class="modal edit-deal-modal hide fade form-horizontal" tab-index="-1" role="dialog" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="editModalLabel">Edit deal</h3>
			</div>
			<div class="modal-body">
			  <div class="row">
					<div class="span9">
					<input id="editId" type="hidden">
					<div class="control-group">
						<label class="control-label">Title</label>
						<div class="controls">
							<input id="editTitle" type="text">
							<span class="help-inline"><span class="hidden text-error">Title field cannot be empty.</span></span>
						</div>
					</div>
						<div class="control-group">
							<label class="control-label">Company</label>
							<div class="controls">
								<input id="editClient" type="text">	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Contacts</label>
							<div class="controls">
								<input id="editContacts" type="text">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Status</label>
							<div class="controls">
								<select id="editStatus" name="dealStatus">
									<option value="new deal" selected="">new deal</option>
									<option value="in progress">in progress</option>
									<option value="done">done</option>
									<option value="paid">paid</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Deal type</label>
							<div class="controls">
								<select id="editType" name="dealType">
									<option value="simple" selected="">simple</option>
									<option value="court">court</option>
									<option value="registration">registration</option>
									<option value="performance">performance</option>
									<option value="consultation">consultation</option>
									<option value="license">license</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Description</label>
							<div class="controls">
								<textarea id="editDescription" class="input-xlarge span5" rows="10"></textarea>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button id="save-edit-deal" class="btn btn-primary pull-right">Save</button>
			</div>
		</form>
</div>
