<!-- DEALS Menu-->
			
				<div class="navbar">
					  <div class="navbar-inner">
						<div class="container">						  
						  <div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
							  <li><a href="#">All</a></li>
							  <li class="divider-vertical"></li>
							  <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignee <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><a href="#">Dima</a></li>
								  <li><a href="#">Ostap</a></li>
								  <li><a href="#">Pavlo</a></li>
								</ul>
							  </li>
							  <li class="divider-vertical"></li>
						  </ul>
							<form class="navbar-search pull-left">
								<input type="text" class="search-query" placeholder="Search">
							</form>
							<ul class="nav pull-right">
							  <li><a href="#">New</a></li>
							  <li class="divider-vertical"></li>
							  <li><a href="#">Delete</a></li>
							  <li class="divider-vertical"></li>
							  <li><a href="#">Advanced Filter</a></li>
							  <li class="divider-vertical"></li>
							  <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><a href="#">Display Options</a></li>
								  <li class="divider"></li>
								  <li><a href="#">Advanced Options</a></li>
								</ul>
							  </li>
							</ul>
						  </div><!-- /.nav-collapse -->
						</div>
					  </div><!-- /navbar-inner -->
					</div>
			
				<!-- DEALS Content -->
				
					<table class="crm-deals-content" cellspacing="0" cellpadding="0">							
								<thead>
									<tr class="crm-deals-header">
										<th>
											Title
										</th>
										<th>
											Main contact
										</th>
										<th>
											Company name
										</th>
										<th>
											Status
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<a>CRM</a>
										</td>
										<td>
											Pavlo
										</td>
										<td>
											Soqeel
										</td>
										<td>
											In Progress
										</td>
									</tr>
									<tr>
										<td>
											<a>Other deal</a>
										</td>
										<td>
											Dima
										</td>
										<td>
											Soqeel
										</td>
										<td>
											In Progress
										</td>
									</tr>
									<tr>
										<td>
											<a>CRM ProjectPlan.mpp</a>
										</td>
										<td>
											Pavlo
										</td>
										<td>
											Soqeel
										</td>
										<td>
											Closed
										</td>
									</tr>
									<tr>
										<td>
											<a>CRM SDD.docx</a>
										</td>
										<td>
											Pavlo
										</td>
										<td>
											Soqeel
										</td>
										<td>
											Closed
										</td>
									</tr>									
							</table>
				
				