<div class="well">
	<div class="crm-sidebar-header">Quick Add</div>
	<div>
		<div class="control-group">
			<label class="control-label" for="input<%- input1 %>"><%- input1 %></label>
			<div class="crm-sidebar-controls">
			<input type="text" id="input<%- input1 %>"/>
			<span class="help-inline" style="display: none;">Incorect <%- input1 %></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input<%- input2 %>"><%- input2 %></label>
			<div class="crm-sidebar-controls">
			<input type="text" id="input<%- input2 %>">
			</div>
		</div>
		<div class="control-group">
		<label class="control-label" for="input<%- input3 %>"><%- input3 %></label>
			<div class="crm-sidebar-controls">
			<input type="text" id="input<%- input3 %>">
			</div>
		</div>
		<div class="btn" id="new-contact">Add</div>
		<div href="<%- input4 %>" class="btn" data-toggle="modal">Advanced</div>
	</div>
</div>