<div class="container-fluid">
	<div class="row-fluid">
	
	<!-- Side Bar -->
	<div class="span2" id="contact-sidebar">	
		<!-- Filter -->
		<div class="well">
		  <div class="crm-sidebar-header">Filter</div>
		</div>	
	</div>

	<div class="span10">
	
	<div class="navbar">
	  <div class="navbar-inner">
		<div class="container">						  
		  <div class="nav-collapse collapse navbar-responsive-collapse">
			<ul class="nav">
			  <li>
				<a href="#">
					<label class="checkbox">
						<input type="checkbox" value="">
						All										
					</label>	
				</a>									
			  </li>
			  <li class="divider-vertical"></li>
			  <li><a id="delete-contact">Delete</a></li>
			  <li class="divider-vertical"></li>
		  </ul>
			<form class="navbar-search pull-left">
				<input type="text" class="search-query" placeholder="Search">
			</form>
			<ul class="nav pull-right">
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Views <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a href="#">List</a></li>
				  <li class="divider"></li>
				  <li><a href="#">Cards</a></li>
				</ul>
			  </li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a href="#">Display Options</a></li>
				  <li class="divider"></li>
				  <li><a href="#">Advanced Options</a></li>
				</ul>
			  </li>
			</ul>
		  </div><!-- /.nav-collapse -->
		</div>
	  </div><!-- /navbar-inner -->
	</div>
			<table class="crm-docs-table table table-striped" cellspacing="0" cellpadding="0" id="crm-contacts">							
				<thead>
					<tr class="crm-header">
						<th>
							Full Name
						</th>
						<th>
							Company
						</th>
						<th>
							Email
						</th>
						<th>
							Phone
						</th>
					</tr>
				</thead>
				<tbody id="crm-contacts-container"></tbody>						
			</table>
		</div>
	</div>
</div>